@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <br />
    <img src="~/images/me.jpg" /></img><br />
    <marquee width="550px"><h1 style="color:black;">Jose Manuel G. Peñaflor</h1></marquee>
    <h1 style="color:black;">BSCS</h1>
    <h1 style="color:black;">32E1</h1>
</div>
